/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/12/2019, 18:24:29
    Author     : PC
*/

.myButton{
    -fx-text-decoration: none;
    -fx-padding: 4px;
    -fx-font-weight: 600;
    -fx-font-size: 20px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #1883ba;
    -fx-border-radius: 3px;
    -fx-border-color: #1883ba;
}

.myButton:hover {
    -fx-cursor: hand;
    -fx-text-fill:#1883ba;
    -fx-background-color:ffffff;
}

.myButtonSi{
    -fx-text-decoration: none;
    -fx-padding: 4px;
    -fx-font-weight: 600;
    -fx-font-size: 20px;
    -fx-text-fill: #ffffff;
    -fx-background-color:#74fe97;
    -fx-border-radius: 3px;
    -fx-border-color: #74fe97;
}

.myButtonSi:hover {
    -fx-cursor: hand;
    -fx-text-fill:#1883ba;
    -fx-background-color:#bdffce;
}
.myButtonNo{
    -fx-text-decoration: none;
    -fx-padding: 4px;
    -fx-font-weight: 600;
    -fx-font-size: 20px;
    -fx-text-fill: #ffffff;
    -fx-background-color:#ff6951;
    -fx-border-radius: 3px;
    -fx-border-color: #ff6951;
}

.myButtonNo:hover {
    -fx-cursor: hand;
    -fx-text-fill:#1883ba;
    -fx-background-color:#ffb9ad;
}

.myButtonOk{
    -fx-text-decoration: none;
    -fx-padding: 4px;
    -fx-font-weight: 600;
    -fx-font-size: 20px;
    -fx-text-fill: #ffffff;
    -fx-background-color:#9f4ffd;
    -fx-border-radius: 3px;
    -fx-border-color: #9f4ffd;
}

.myButtonOk:hover {
    -fx-cursor: hand;
    -fx-text-fill:#1883ba;
    -fx-background-color:#ebc2ff;
}